@mixin primaryBtn() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #115eed;
  padding: 16px 48px;
  border-radius: 4px;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.3s ease;
  span {
    color: #fff;
    font-style: italic;
    font-weight: 500;
    transition: 0.3s ease;
  }
  &:hover {
    background: #0e4cbe;
  }
}

@mixin secondaryBtn() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 16px 48px;
  border-radius: 4px;
  color: #115eed;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.3s ease;
  span {
    color: #115eed;
    font-style: italic;
    font-weight: 500;
    transition: 0.3s ease;
  }
  &:hover {
    background: #88acf0;
    span {
      color: #fff;
    }
  }
}

@mixin formBtn() {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  background: #12db63;
  color: #fff;
  border-radius: 6px;
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@mixin formInput() {
  border: 0;
  outline: 0;
  border: 1px solid rgba(201, 202, 205, 0.5);
  border-radius: 4px;
  padding: 14px 16px;
  background: #ffffff;
  color: #23272f;
  font-size: 14px;
  &:focus {
    border: 1px solid #115eed;
  }
}
