.sideBar {
  position: fixed;
  top: 78px;
  left: 0;
  width: 21%;
  height: calc(100vh - 78px);
  display: flex;
  z-index: 999;
  .leftSide {
    padding: 24px 16px;
    max-width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #cbddeb;
    background: #fff;
    .leftTop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      .badge {
        position: relative;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          transform: scale(1.05);
        }
        &::before {
          display: none;
          position: absolute;
          top: 0;
          left: calc(0px - 20px);
          height: 100%;
          width: 8px;
          content: "";
          background: #115eed;
          border-radius: 10px;
        }
        &.active {
          &::before {
            display: inline-block;
          }
        }
      }
      .divider {
        display: inline-block;
        width: 100%;
        height: 1px;
        background: #cbddeb;
        border-radius: 2px;
      }
    }
    .leftCenter {
      background-color: #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .leftBottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      .badge {
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
      .divider {
        display: inline-block;
        width: 100%;
        height: 1px;
        background: #cbddeb;
        border-radius: 2px;
      }
    }
  }
  .rightSide {
    padding: 32px 24px;
    border-right: 1px solid #cbddeb;
    max-width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    .menuList {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      .menuListItem {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 10px 12px;
        color: #000;
        background: #fff;
        transition: 0.3s ease;
        border-radius: 8px;
        cursor: pointer;
        .itemTitle {
          color: #000;
          font-weight: 500;
          font-size: 14px;
          transition: 0.3s ease;
        }
        &.active {
          background: #115eed;
          .itemTitle {
            color: #fff;
          }
          img {
            filter: invert(100%);
          }
        }
        &:hover {
          background: #115eed;
          .itemTitle {
            color: #fff;
          }
          img {
            filter: invert(100%);
          }
        }
      }
    }
    .upgradeBox {
      min-width: 184px;
      min-height: 198px;
      background: #115eed;
      border-radius: 8px;
      padding: 18px 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      .infoText {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        p {
          font-weight: 600;
          font-size: 14px;
          color: #ffffff;
        }
      }
      a {
        padding: 10px 28px;
        background: #ffffff;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        color: #115eed;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
